@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.navbar{
    border-bottom: 2px solid #c9145f;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.primary-btn{
    padding: 10px 24px;
    background-color: #c9145f;
    border: none;
    font-weight: 600;font-size: medium;
    color: #efefef;
    border-radius: 8px;
    cursor: pointer;
}

.primary-btn:hover{
    background-color: #c9145fcb;
}

.nav-container h1{
    font-size: x-large;
    color:  #c9145f;;
}